@import "~normalize.css";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(to right, #fff 50%, #0d3c66 50% 100%);
}

span:first-child {
  font-family: "Courier New", Courier, monospace;
  font-size: 36px;
  color: #0d3c66;
  margin-right: 1em;
  margin-left: -0.5em;
}

span:last-child {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
  color: #fff;
}

.heading {
  margin-top: 1em;
}

.markdown-converter {
  width: 80vw;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
}

.markdown {
  padding: 25px;
  background-color: #0d3c66;

  &__textarea {
    width: 100%;
    height: 92%;
    padding: 20px;
    margin-bottom: 15px;
    border: none;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    color: #accbe6;
    background-color: #0f4675;
    outline: none;
    resize: none;
  }

  button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 30px;
    outline: none;
    transition: 0.125s;
  }

  &__button-save {
    border: 3px solid #00ffd0;
    background-color: #00ffd0;
    color: #0d3c66;
    float: right;
    &:hover {
      background-color: #0d3c66;
      color: #00ffd0;
    }
  }

  &__button-clear {
    border: 3px solid #01cccf;
    background-color: #01cccf;
    color: #0d3c66;
    &:hover {
      background-color: #0d3c66;
      color: #01cccf;
    }
  }

  &__button-load {
    border: 3px solid #0190d3;
    background-color: #0190d3;
    color: #0d3c66;
    &:hover {
      background-color: #0d3c66;
      color: #0190d3;
    }
  }
}

.converted {
  height: 100%;
  padding: 25px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Tahoma, Geneva, sans-serif;
  color: rgb(17, 26, 43);
  font-size: 14px;
  & img {
    max-width: 450px;
  }
}

.shadow__wrapper {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;

  .shadow__markdown {
    width: 40vw;
    padding: 45px;
    background-color: #0d3c66;
    .shadow__markdown__text {
      font-family: "Courier New", Courier, monospace;
      font-weight: bold;
      color: #accbe6;
    }
  }

  .shadow__converted {
    padding: 25px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: Tahoma, Geneva, sans-serif;
    color: rgb(17, 26, 43);
    font-size: 14px;
    & img {
      max-width: 450px;
    }
  }
}
